@import url('//fonts.googleapis.com/css?family=EB+Garamond|Playfair+Display');

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'EB Garamond', 'Times New Roman', serif;
    background-color: black;
    color: white;
}
h1,h2,h3 {
    font-family: 'Playfair Display', 'Times New Roman', serif;
}

a {
    text-decoration: none;
    color: white;
}

.navbar-brand {
    font-family: 'Playfair Display', 'Times New Roman', serif;
}

.header {
    background-image: url('../img/header-1.jpg');
    background-size: cover;
    background-position: bottom;
    background-color: #ddd;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value-prop {
    height: 80vh;
    align-items: center;
    text-align: center;
    .expand-icon {
        width: 50px;
        margin: 0 auto;
    }
}

.featured-work {
    text-align: center;
    padding-bottom: 10vh;
    h4 {
        font-family: 'Playfair Display', 'Times New Roman', serif;
        padding: 30px 0;
    }
    .main-project {
        margin: 0 auto;
        width: 80vw;
    }
    .project{
        height: 430px;
        background-color: #ddd;
        text-align: left;
    }
    .col-md, .row {
        padding-bottom: 10vh;
    }
    .gutter {
        width: 1vw;
    }
    h1,h5 {
        position:relative;
        margin: 0;
        top: 370px;
    }
    a {
        text-align: right;
        margin-top: 15vh;
    }
}

.about {
    background-color: #ddd;
    align-content: center;
    height: 90vh;
    h1, h4, p {
        padding: 0 10vw;
        width: 60vw;
    }
    p {
        margin-top: 10vh;
    }
}

.call-to-action {
    text-align: center;
    height: 60vh;
    align-content: center;
    h1 {
        padding-bottom: 20px;;
    }
}

.footer {
    margin: 0;
    padding: 5vh 0;
    .right {
        text-align: right;
    }
}

.project-archive {
    padding-bottom: 15vh;
    table {
        color: white;
        tr {
            td {
                padding-top: 30px;
                color: white;
            }
        }
        tr.clickable:hover {
            td {
                color: #ddd;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 768px) {
    .gutter {
        height: 10vh;
    }
    .footer {
        .right {
            text-align: left;
        }
    }
    .about {
        h1, h4, p {
            padding: 0 10vw;
            width: 100%;
        }
    }
}